<p id="notice"><%= notice %></p>

<h1>Guys</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guys.each do |guy| %>
      <tr>
        <td><%= guy.name %></td>
        <td><%= link_to 'Show', guy %></td>
        <td><%= link_to 'Edit', edit_guy_path(guy) %></td>
        <td><%= link_to 'Destroy', guy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guy', new_guy_path %><br />
<%= link_to 'See the Gals', gals_path %><br />
<%= link_to 'Go Back to Relationships', relationships_path %>
